<style media="screen" type="text/css">
	body {
  width: 760px;
  margin: 20px auto;
  background-color: white;
  border: 3px #ccc solid;
  padding: 30px;
  font-family: sans-serif;
  font-size: 16pt;
}
	h1 {
		background-color: black;
		color: white	;
	}
</style>

<h1>About</h1>

<br>

<p>
	<b>TutorTrade</b> is a web-based exchange that helps students coordinate both giving and receiving tutoring time. Simply put, if you're stuck and need some help, we've got someone for your. But it doesn't end there. You also help other students in your preferred area of expertise.
</p>

<p>
	<b>TutorTrade</b> is a web-based exchange that helps students coordinate both giving and receiving tutoring time. Simply put, if you're stuck and need some help, we've got someone for your.<blockquote>But it doesn't end there. You also help other students in your preferred area of expertise.</blockquote>  
</p>

<p>
	<b>TutorTrade</b> is a web-based exchange that helps students coordinate both giving and receiving tutoring time. Simply put, if you're stuck and need some help, we've got someone for your. But it doesn't end there. You also help other students in your preferred area of expertise.
</p>

<br>
<p align="center"><a href="/">Back to Main Page</a></p>

<br>
<br>
<br>