<body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">TutorTrade</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="/about">About</a></li>
     
            <li><a href="/tutors">Tutors</a></li>
            
          </ul>
          
        </div><!--/.navbar-collapse -->
      </div>
    </div>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <br>
    <br>
   
    <div class="jumbotron">
      <div class="container">
        <h1>Learning Done Right.</h1>
        <p>TutorTrade is a web-based exchange that helps students coordinate both giving and receiving tutoring time. Simply put, if you're stuck and need some help, we've got someone for your. But it doesn't end there. You also help other students in your preferred area of expertise.</p>
        <p><a class="btn btn-primary btn-lg" href="/about">Learn more &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-lg-4">
          <h2>How This Works</h2>
          <p>We are some awesome individuals. I mean really, what else do you need to know? You want more? Ok. Our Tutors are top notch and experts in their fields. If you find yourself in need of help, you've come to the right place.</p>
          <p><a class="btn btn-default" href="/about">View details &raquo;</a></p>
        </div>
        <div class="col-lg-4">
          <h2>Tutor Profiles</h2>
          <p>So now you are convinced that you need a tutor. Now what? Well, why don't you peruse our tutor's profiles to find someone to help you out? You might even learn a thing or two about them. Or even find that you have a few things in common.</p>
          <p><a class="btn btn-default" href="/tutors">View details &raquo;</a></p>

       </div>
        <div class="col-lg-4">
          <h2>Get A Tutor Now!</h2>
          <p>Enough of the small talk, let's get down to business! You are ready to hit the books and get to it. You're in luck! We have all the best tutors. We need to get some information from you first, so click on the button below and get ready to learn!</p>
          <p><a class="btn btn-default" href="/tutors">View details &raquo;</a></p>
        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; Company 2013</p>
      </footer>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../../assets/js/jquery.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
  </body>
</html>
