<style media="screen" type="text/css">
	body {
  width: 760px;
  margin: 20px auto;
  background-color: white;
  border: 3px #ccc solid;
  padding: 30px;
  font-family: sans-serif;
  font-size: 16pt;
}
	h1 {
		background-color: black;
		color: white	;
	}
</style>


<h1 align="center">Thank you for signing up!</h1>

<h2 align="center">Get ready for some awesome tutoring!</h2>

<br>

<p align="center"><a href="/">Back to Main Page</a></p>

<br>
<br>